<div class="row"> 
  <div class="form-group col-sm-7 m-l-2">   
    <%= job_seeker_form.label :document, 'Upload your resume.' %>
    <%= job_seeker_form.file_field :document, class: "form-control" %>   
  </div>
</div><!-- close row -->