<div class="container">
  <div class="card job-list" id="job-create-form">
    <div class="card-block" id="job-list-header">
      <h3>Create a New Job Post</h3>
    </div>

      <%= render 'form' %>

  </div>
</div>
