<div class="page-footer">
  <div class="container-fluid">

  
    <div class="row">  
      <div class="col-sm-4 col-sm-offset-1">

        <p><a href="#">About Us</p>
        <p><a href="#">Contact Us</p>
        <p><a href="#">Terms of Service</p>
        <p><a href="#">Privacy Policy</p>
        <p>&copy; 2014 Company, Inc.</p>
        
      </div><!-- close col-sm-6 -->
    </div><!-- close row -->       
  </div><!-- close container-fluid -->
</div>